@tailwind base;
@tailwind components;
@tailwind utilities;



.check-with-label:checked + .label-for-check {
    font-weight: bold;
    color: rgb(109, 223, 99);
    text-decoration: line-through;
  }